.Global {
  font-family: Consolas;
}

.global-centor {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150%;
}

/* Login */
.login-typewriter {
  display: inline-flex;
  font-size: 150% !important;
}

#transparent-underscores {
  color: transparent;
}

#password-field {
  padding-top: 12%;
}

#password-form {
  font-size: 2.5vh;
  margin-top: 2.5vh;
  width: 35vh !important;
  height: 3.5vh;
  text-align: center;
}

#wrong-password-text {
  margin-top: 1vh;
  font-size: 2vh !important;
  text-align: center;
  color: #460e0e;
}

/*Loading Screen*/
#the-simp-big {
  height: auto;
  width: 100%;
  margin-bottom: 5%;
}

#loading-bar {
  /*padding-top: 5%;*/
}

#modified-centor-loading {
  padding-top: 7% !important;
  text-align: center !important;
}
/* Character Build */
#character-selection {
  height: 60vh;
  width: 60vh;
}

.input-boxes-character {
  text-align-last: center;
}

.enter-username {
  margin-top: 1.7vh;
  margin-bottom: 1.7vh;
}

/*Gameboard*/

.left-bar {
  background-color: orange;
}

#character-photo {
  width: 28vh;
  height: 28vh;
}

.left-bar-separators {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#player-title-text {
  font-size: 1.7vh;
  text-align: center;
}

#money-text {
  font-size: 4vh;
  text-align: center;
  color: #0d5a0d;
}

#asset-list {
  font-size: 2vh;
  list-style-type:none;
}

.item-photo {
  width: 20vh;
  height: 20vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5vh;
}

.item-card {
  margin-left: 1vh;
  margin-right: 1vh;
}

#shop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

#purchase-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.shopping-cart-image {
  text-align: center;
  font-size:13vh;
}

#purchase-text {
  color: maroon;
}

.level-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5vh;
}

.level-photo {
  width: 35vh;
  height: 35vh;
}

.wish-photo {
  width: 50vh;
  height: 50vh;
}

.level-cards {
  margin: 2vh;
}

.city-names {
  font-size: 2.5vh;
  text-align: center;
}

.level-buttons {
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.city-info-body {
  text-align: justify;
}

.required-item-text {
  text-align: center;
}

.quiz-modal {
  background-color: #c06dc0;
  font-size: 2.3vh;
  font-family:"Consolas" !important;
}

.quiz-modal-separator {
  margin: 2vh;
}

.question-section {
  border-top:0.5vh dashed black !important;
  padding: 2vh;
}

.text-centor {
  text-align: center;
}

.question-mapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.padder{
  padding: 2vh;
  color: white;
}

.text-kanan {
  text-align: right;
}